{%- assign first_post = site.posts | last -%}
{%- assign last_post = site.posts | first -%}

{%- if first_post and first_post.date -%}
  {%- assign start_date = first_post.date | date: "%Y" -%}
{%- else -%}
  {%- assign start_date = site.started | default: site.time | date: "%Y" -%}
{%- endif -%}
{%- if last_post and last_post.date -%}
  {%- assign end_date = last_post.date | date: "%Y" -%}
{%- else -%}
  {%- assign end_date = site.time | date: "%Y" -%}
{%- endif -%}
{%- if start_date == end_date -%}
  {%- assign copy_date = start_date -%}
{%- else -%}
  {%- assign copy_date = start_date | append: "–" | append: end_date -%}
{%- endif -%}

<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=72960469&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://metrika-informer.com/informer/72960469/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;float:right;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="72960469" data-lang="ru" /></a>
<!-- /Yandex.Metrika informer -->

<p style="font-weight: bold;">© {{ copy_date }} <a href="/about/">{{- site.author -}}</a></p>

<p>Материалы сайта опубликованы под лицензией
<a style="font-weight: bold;" href="{{- site.license.content.url -}}">{{- site.license.content.name -}}</a>,
если не оговорено иное. <a href="https://github.com/shikhalev/jekyll-theme">Программный код</a> непосредственно сайта — под лицензией
<a style="font-weight: bold;" href="https://opensource.org/licenses/MIT">MIT</a>.</p>

<p>Сайт сформирован статическим генератором <a style="font-weight: bold;" href="https://jekyllrb.com/">Jekyll</a>
{%- if site.staticman_url -%}
, комментарии —
<a style="font-weight: bold;" href="https://staticman.net/">Staticman</a>
{%- endif -%}
. Отдельная благодарность автору <a style="font-weight: bold;" href="https://github.com/allejo/jekyll-toc">allejo/jekyll-toc</a>.</p>
