@charset 'utf-8';

$light-gray-background: hsl(0 0% 95% / 90%);

$light-gray-color: hsl(0 0% 90%);
$dark-gray-color: hsl(0 0% 20%);

$dark-teal-background: hsl(195 100% 20% / 90%);
$dark-teal-color: hsl(195 100% 20%);

$light-gray-teal-border-color: hsl(195 20% 90% / 90%);

$middle-gray-teal-color: hsl(195 25% 75% / 75%);

$dark-teal-shadow-color: hsl(195 100% 20% / 75%);
